<app-menu></app-menu>

    <div class="divlogin">
            <!-- <img src="assets/img/fondo.jpg"> -->
        <div  class="divform">
                <form id="formlogin" [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
                    <img class="imgform" src="assets/img/logog.png" alt="">
                    <h1> Iniciar sesión</h1>
                    
                        <label  class="">Nombre de usuario</label>
                        
                            <input type="text" formControlName="login"
                                placeholder="Nombre de usuario"
                                >
                            <div class="invalid-feedback"
                                >
                                La longitud mínima es 5
                            </div>
                  
                        <label class="form-label">Contraseña</label>
                        <input type="password" formControlName="password" id="password" name="password"
                            placeholder="Contraseña"
                            > 
                        <div class="invalid-feedback"
                            >
                            Por favor introduce la contraseña</div>
                        <div class="invalid-feedback"
                           >
                            La longitud mínima es 5
                        </div>
                   
                          <button type="submit" class="botonform">
                                Login</button>
                        
                        
                                <a [routerLink]="['/register']">Crea una cuenta </a>
                </form>

        </div>

    </div>
   