<app-adminbar></app-adminbar>
<div class="res">

<div class="container my-3">

        <div class="res">
            <div class="container my-3">
            
               
            
                <div class="row justify-content-center">
            
            
                    <div class="control-group text-center mt-5">
                        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                          
                            <a class="btn" [routerLink]="['/' + strEntity + '/plist']"><i
                        [ngClass]="oIconService.getIcon('plist')"></i> Listado de
                      {{ strTitlePlural }}</a>
                            <a class="btn" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
                        </div>
                    </div>
            
                </div>
                <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="oForm">
            
                <div class="container">
                
                    <div class="body d-md-flex align-items-center justify-content-between">
                        <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/260352/pexels-photo-260352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="" alt=""> </div>
                        <div class=" box-2   h-100">
                            <h1 class="titulo">Crear Servicio</h1>
                           
                            <div class="mt-5 cont">
                              
                                <div id="campos" class="">
                                <label for="nombre" class="col-sm-2 col-form-label">Duración</label>
                               <input type="text" class="form-control" id="codigo" formControlName="codigo" >
                            </div> 
                            <div id="campos" class="">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                               <input type="text" class="form-control" id="nombre" formControlName="nombre" >
                            </div>   
                            <div id="campos" class="">
                                <label for="nombre" class="col-sm-2 col-form-label">Descripcion</label>
                               <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                            </div>   
                            <div id="campos" class="">
                                <label for="nombre" class="col-sm-2 col-form-label">Existencias</label>
                               <input type="text" class="form-control" id="existencias" formControlName="existencias" >
                            </div>  
                            <div id="campos" class="">
                                <label for="nombre" class="col-sm-2 col-form-label">Precio</label>
                               <input type="text" class="form-control" id="precio" formControlName="precio" >
                            </div> 
                            <div id="campos" class="">
                                <label for="imagen" class="col-sm-2 col-form-label">imagen</label>
                                <div class="col-sm-10">
                                    
                                    <input #imageInput type="file" accept="image/*" class="form-control-file mt-4" lang="es" name="imagen" (change)="processFile($event)" />
                                    <div><img [src]="imageSrc" *ngIf="imageSrc != null" alt="" style="height:100px" class="my-3" /></div>
                                    <div><img *ngIf="imageSrc == null" [src]="'http://localhost:8082/file/' + oServshow.imagen" style="height:100px" class="my-3" /></div>
                                </div>
                                   
                               
                            </div>       
                                   
                            <div id="campos" class="">
                                <label for="tiposervicio" class="col-sm-2 col-form-label">id_tiposervicio</label>
                             
                                 <input type="text" class="form-control" id="tiposervicio" formControlName="tiposervicio">
                                   
                               
                            </div>       
                                       
                               
                            </div>
                          
                            <div class="mt-auto">
                                <div class="row mb-3 justify-content-center">
                                    <div class="d-grid gap-2 d-md-block mt-4 d-md-flex justify-content-md-center">
                                        <button type="submit" class="btn" [disabled]="oForm.invalid || oForm.pristine"><i
                                  [ngClass]="oIconService.getIcon('ok')"></i> Añadir
                                el {{strTitleSingular}}</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                </form>
            </div>
            
            </div>


  




<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>