<app-adminbar></app-adminbar>
<div class="res">
<div class="container my-3">
    <div class="row justify-content-center">
      

        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
          
            <a class="btn" [routerLink]="['/usuario/plist']"><i class="fas fa-file-alt"></i>
                Listado
                de usuarios</a>
            <a class="btn" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
        </div>
    

    </div>
  
    <div class="container">
    
        <div class="body d-md-flex align-items-center justify-content-between">
            <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/3585074/pexels-photo-3585074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="" alt=""> </div>
            <div class=" box-2 d-flex flex-column h-100">
               
                <div class="mt-5 ">
                  
                 <h1 class="titulo">Borrado Usuario</h1>
                    <div id="campos" class="d-flex flex-column ">
                        <p class="mb-2 h-1"> id: {{oUsuario?.id}}</p> 
                        <p class="mb-2 h-1"> DNI: {{oUsuario?.dni}}</p> 
                        <p class="mb-2 h-1"> Nombre: {{oUsuario?.nombre}}</p> 
                        <p class="mb-2 h-1"> Apellidos: {{oUsuario?.apellidos}}</p> 
                        <p class="mb-2 h-1"> Login: {{oUsuario?.login}}</p> 
                        <p class="mb-2 h-1"> Email: {{oUsuario?.email}}</p> 
                       
                        <div class="mt-1">
                        
                            <div class="d-grid gap-2 d-md-block  d-md-flex justify-content-md-center mt-4">
                                <a class="btn" (click)="removeOne()"><i [ngClass]="oIconService.getIcon('aceptar')"></i> SÍ</a>
                                <a class="btn" (click)="goBack()"><i [ngClass]="oIconService.getIcon('rechazar')"></i> NO </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-auto">
                    
                </div>
            </div> 
        </div>
    </div>
  
</div>
</div>


<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>