<app-menu></app-menu>



<section class="sectionhome">
 <div id="divhome">
  <img src="assets/img/fondo.jpg"> 


  <div class="div1">
  <div class="texto1">
    <p>Haz del Fitness un basico en tu vida! </p>
  
  
  </div>
<div class="overlay">
<!-- <a class="boton" href="">Empieza ya!!</a> -->
</div>
</div>

<div class="div2">
  <div class="texto2">
    <p>NO sabe como encontrar su rutina ideal? </p>
    <p>Busque un especialista!</p>
  </div>
<div class="overlay">
<a class="boton" href="">Empieza ya!!</a>
</div>
</div>



</div> 
<section class="seccionfilas">
  <h1 class="tituloseccionfilas">Servicios Incluidos en nuestras Intalaciones</h1>
  <div class="fila1">
    <div class="izquierda1">
<div class="divdentro">
  <i class="fas fa-clock"></i>
  <p class="txt1">Horarios Flexibles</p>
  <p class="txt2">Contamos con un amplio horario de apertura desde las 6h hasta las 24h.</p>
</div>
    </div>
    <div class="centro1">
      <div class="divdentro">
        <i class="fas fa-user-graduate"></i>
  <p class="txt1">Instructores Experimentados</p>
  <p class="txt2">Nuestros instructores  están formados y te ofrecerán la mejor experiencia, además de conseguir resultados lo pasarás  bien.</p>
      </div>
    </div>
     <div class="derecha1">
      <div class="divdentro">
        <i class="fas fa-dumbbell"></i>
  <p class="txt1">Material de Entrenamiento</p>
  <p class="txt2">Disfruta de las salas de fitness y musculación y de todo el material de entrenamiento en cada centro.</p>
      </div>
    </div>
    
  </div>
  <div class="fila2">
    <div class="izquierda2">
      <div class="divdentro">
        <i class="fas fa-shower"></i>
        <p class="txt1">Vestuarios, Duchas y Taquillas</p>
        <p class="txt2">Todos los centros disponen de vestuarios con taquillas gratuitas, así como zona de duchas.</p>
      </div>
    </div>
    <div class="centro2">
      <div class="divdentro">
        <i class="fas fa-fingerprint"></i>
        <p class="txt1">Acceso Seguro con Biometría</p>
        <p class="txt2">Nuestros centros cuentan con acceso mediante huella dactilar. Olvídate de llevar tarjeta o pulsera.</p>
      </div>
    </div>
     <div class="derecha2">
      <div class="divdentro">
        <i class="fas fa-users"></i>
        <p class="txt1">Aforo Monumental</p>
        <p class="txt2">Los centros  son tan grandes que no tendrás problemas para entrenar ni para acceder a las clases dirigidas.</p>
      </div>
    </div>
    
  </div>
</section>
</section>






<app-footer></app-footer>