<app-adminbar></app-adminbar>
<div class="res">

<div class="container my-3">

 
     
        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
         
            <a class="btn" [routerLink]="['/' + strEntity + '/plist']"><i
        [ngClass]="oIconService.getIcon('plist')"></i> Listado de {{strTitlePlural}}</a>
            <a class="btn" (click)="goBack()"><i [ngClass]="oIconService.getIcon('volver')"></i> Volver
    </a>
        </div>
        <div class="container">
    
            <div class="body d-md-flex align-items-center justify-content-between">
                <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/4482900/pexels-photo-4482900.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="" alt=""> </div>
                <div class=" box-2 d-flex flex-column h-100">
                   
                    <div class="mt-5 ">
                      
                     <h1 class="titulo">Vista de Compra</h1>
                        <div id="campos" class="d-flex flex-column ">
                            <p class="mb-2 h-1"> id: {{oCompra?.id}}</p> 
                            <p class="mb-2 h-1"> Cantidad: {{oCompra?.cantidad}}</p> 
                            <p class="mb-2 h-1"> Precio: {{oCompra?.precio}}</p> 
                            <p class="mb-2 h-1"> Fecha: {{oCompra?.fecha}}</p> 
                            <p class="mb-2 h-1"> Id Servicio: {{oCompra?.servicio.id }}</p> 
                            <p class="mb-2 h-1"> Id factura: {{oCompra?.factura?.id}}</p> 
                           
                            <div class="mt-1">
                                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
                                    <a class="btn" [routerLink]="['/compra/edit/' + oCompra?.id]"><i
                                [ngClass]="oIconService.getIcon('edit')"></i> Modificarlo</a>
                                    <a class="btn" [routerLink]="['/compra/remove/' + oCompra?.id]"><i
                                [ngClass]="oIconService.getIcon('remove')"></i> Borrarlo </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        
                    </div>
                </div> 
            </div>
        </div>

        <div class="row justify-content-center">
        
      
        </div>

    
</div>
</div>
