#container {
  
   
    background-color: #090905;
    width:100%;
    height: 100px;
    text-align:center;
  padding-left: 5%;

  padding-right: 5%;
  padding-bottom: 5%;
   
}
img{
width: 90px;
}
i{
   font-size:40px ;
    color: white;
}

#left {
    float:left;
    width:100px;
    height: 100px;
   
}



#right {
    float:right;
    width:100px;
    height: 100px;
  padding-top: 1.5%;
}