<app-adminbar></app-adminbar>
<div class="res">
<div class="container my-3">

    
    <div class="row justify-content-center">
          
        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
        
            <a class="btn" [routerLink]="['/' + strEntity + '/plist']"><i
              [ngClass]="oIconService.getIcon('plist')"></i> Listado de {{strTitlePlural}}</a>
            <a class="btn" (click)="goBack()"><i [ngClass]="oIconService.getIcon('volver')"></i> Volver
          </a>
        </div>

    </div>

    
     
        <div class="container">
    
            <div class="body d-md-flex align-items-center justify-content-between">
                <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/260352/pexels-photo-260352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="" alt=""> </div>
                <div class=" box-2 d-flex flex-column h-100">
                   
                    <div class="mt-1 ">
                      
                     <h1 class="titulo">Vista de Servicio</h1>
                        <div id="campos" class="d-flex flex-column ">
                            <p class="mb-2 h-1"> id: {{oServicio?.id}}</p> 
                            <p class="mb-2 h-1"> Entrenadores: {{oServicio?.codigo}}</p> 
                            <p class="mb-2 h-1"> Nombre: {{oServicio?.nombre}}</p> 
                            <p class="mb-2 h-1"> Descripcion: {{oServicio?.descripcion | trim: 25}} </p> 
                            <p class="mb-2 h-1"> Existencias: {{oServicio?.existencias}}</p> 
                            <p class="mb-2 h-1">{{oServicio?.precio}} €</p> 
                            <p class="mb-2 h-1">{{oServicio?.imagen}} <img [src]="'http://localhost:8082/file/' + oServicio?.imagen" style="height:100px" class="my-3" /></p> 
                            <p class="mb-2 h-1"> Intensidad: {{oServicio?.tiposervicio.nombre}}</p> 
                           
                            <div class="mt-1">
                                <div class="d-grid gap-2 d-md-block  d-md-flex justify-content-md-center mt-4">
                                    <a class="btn" [routerLink]="['/servicio/edit/' + id]"><i
                                            [ngClass]="oIconService.getIcon('edit')"></i>
                                        Modificarlo</a>
                                    <a class="btn" [routerLink]="['/servicio/remove/' + id]"><i
                                            [ngClass]="oIconService.getIcon('remove')"></i>
                                        Borrarlo
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        
                    </div>
             
            </div>
        </div>



    </div>
</div>
</div>

