@font-face {
    font-family:powermax-bold;
    src: url(assets/fonts/Powermax-Bold.otf) format("opentype");
}
@font-face {
    font-family:powermax;
    src: url(assets/fonts/Powermax.otf) format("opentype");
}
