
<app-adminbar></app-adminbar>
<!-- <div class="res">

<div class="container my-3">

    <app-header [title]="'Edición de ' + strTitleSingular" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)">
  </app-header>


    <div class="row justify-content-center">

        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <label for="fecha" class="col-sm-2 col-form-label"> <i [ngClass]="oIconService.getIcon('fecha')"></i> Fecha</label>
                <div class="col-sm-10">
                    <input type="text" name="fecha" id="fecha" formControlName="fecha"
                        class="text ui-widget-content ui-corner-all" />
                    <div *ngIf="f.fecha.dirty && f.fecha.errors?.required" class="text-danger">
                        Se debe introducir una fecha correcta
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="iva" class="col-sm-2 col-form-label"> <i [ngClass]="oIconService.getIcon('porcentaje')"></i> IVA</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="iva" formControlName="iva" min="4" max="21"
                        [ngClass]="{'is-valid' : f.iva.dirty && !(f.iva.errors?.required|| f.iva.errors?.minlength) }">
                    <div *ngIf="f.iva.dirty && f.iva.errors?.required" class="text-danger">
                        Se debe introducir un IVA. El mínimo es de un 4% y máximo de 21%.
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <label for="pagado" class="col-sm-2 col-form-label"> <i [ngClass]="oIconService.getIcon('pagado')"></i> Pagado</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pagado" formControlName="pagado">
                        <label class="form-check-label" for="pagado">
                            Pagado
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="id_usuario" class="col-sm-2 col-form-label"> <i [ngClass]="oIconService.getIcon('usuario')"></i>Usuario</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="id_usuario" formControlName="usuario" >
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-warning" [disabled]="oForm.invalid || oForm.pristine">Crear
                        Nueva Factura</button>
                </div>
            </div>

        </form>

     

    </div>
</div>
</div> -->


<div class="res">
    <div class="container my-3">
    
       
    
        <div class="row justify-content-center">
    
    
            <div class="control-group text-center mt-5">
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                  
                    <a class="btn" [routerLink]="['/' + strEntity + '/plist']"><i
                [ngClass]="oIconService.getIcon('plist')"></i> Listado de
              {{ strTitlePlural }}</a>
                    <a class="btn" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
                </div>
            </div>
    
        </div>
        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="oForm">
    
        <div class="container">
        
            <div class="body d-md-flex align-items-center justify-content-between">
                <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/4386335/pexels-photo-4386335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="" alt=""> </div>
                <div class=" box-2   h-100">
                    <h1 class="titulo">Crear Factura </h1>
                   
                    <div class="mt-5 cont">
                      
                        <div id="campos" class="">
                        <label for="nombre" class="col-sm-2 col-form-label">Fecha</label>
                       <input type="text" class="form-control" id="fecha" formControlName="fecha" >
                    </div> 
                    <div id="campos" class="">
                        <label for="nombre" class="col-sm-2 col-form-label">IVA</label>
                       <input type="text" class="form-control" id="iva" formControlName="iva" >
                    </div> 
                    <div id="campos" class="">
                        <label for="pagado" class="col-sm-2 col-form-label">  Pagado</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pagado" formControlName="pagado">
                        <label class="form-check-label" for="pagado">
                          
                        </label>
                    </div>
                </div>
                      
                      
                        </div>
                     
                 
            
                  
    
                    <div id="campos" class="">
                    
                        <label for="id_usuario" class="col-sm-2 col-form-label">Usuario</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="id_usuario" formControlName="usuario" >
                </div>
                              
                           
                                 
                    </div>       
                       
                       
                    </div>
                  
                    <div class="mt-auto">
                        <div class="row mb-3 justify-content-center">
                            <div class="d-grid gap-2 d-md-block mt-4 d-md-flex justify-content-md-center">
                                <button type="submit" class="btn" [disabled]="oForm.invalid || oForm.pristine"><i
                          [ngClass]="oIconService.getIcon('ok')"></i> Modificar
                        el {{strTitleSingular}}</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        </form>
    </div>
    
    </div>



<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>