
<nav class="nav-admin">
    <a class="logo" href="#"><img src="assets/img/logo.png"></a>
    
            <!-- Navbar usuario -->
            <ul class="nav-menu-user">
      
                     <li  class="nav-menu-item-user" *ngIf="oUsuarioSession?.tipousuario.id==2">
                       
                             <a  class="nav-link-user" [class.active]="strUrl=='/busca'" [routerLink]="['/busca']"> Busca un club</a>
                       
                     </li>
                     <li  class="nav-menu-item-user" *ngIf="oUsuarioSession?.tipousuario.id==2">
                        
                             <a  class="nav-link-user" [class.active]="strUrl=='/servicios'"
                                 [routerLink]="['/servicios']">
                                 Servicios</a>
                      
                     </li>
             
                  
                   
                     <li  class="nav-menu-item-user" *ngIf="oUsuarioSession?.tipousuario.id==2">
                         
                             <a  class="nav-link-user" [class.active]="strUrl=='/myfit'"
                                 [routerLink]="['/myfit']">
                                 MyFit</a>
                      
                     </li>
                 
                     </ul>
                        <!-- Navbar no log -->
            <ul class="nav-menu-nolog">
               
                <li  class="nav-menu-item-nolog" *ngIf="oUsuarioSession ===null">
                 
                        <a  class="nav-link-nolog" [class.active]="strUrl=='/busca'" [routerLink]="['/busca']"> Busca un club</a>
                   
                </li>
                <li  class="nav-menu-item-user" *ngIf="!oUsuarioSession">
                        
                        <a  class="nav-link-user" [class.active]="strUrl=='/servicios'"
                            [routerLink]="['/servicios']">
                            Servicios</a>
                 
                </li>
        
             
              
                <li  class="nav-menu-item-user" *ngIf="!oUsuarioSession">
                    
                        <a  class="nav-link-user" [class.active]="strUrl=='/myfit'"
                            [routerLink]="['/myfit']">
                            MyFit</a>
                 
                </li>
                <span class="nav-menu-item-admin" *ngIf="oUsuarioSession?.tipousuario.id==2">
                
                        <a  class="nav-link-admin" [class.active]="strUrl=='/carrito/plist'" [routerLink]="['/carrito/plist']"><i
                                [ngClass]="oIconService.getIcon('carrito')"></i> {{tcarrito}}</a>
                    
                </span>
    
               
    
                <span class="nav-menu-item-admin" *ngIf="!oUsuarioSession">
                   
                        <a  class="nav-link-admin" [class.active]="strUrl=='/login'" [routerLink]="['/login']">Login</a>
                 
                </span>
                <span class="nav-menu-item-admin" *ngIf="oUsuarioSession"> <i [ngClass]="oIconService.getIcon('usuario')"></i>
                    {{oUsuarioSession.nombre + " " + oUsuarioSession.apellidos }}
               </span>
    
                <span class="nav-menu-item-admin" *ngIf="oUsuarioSession">
                  
                        <a  class="nav-link-admin" [class.active]="strUrl=='/logout'" [routerLink]="['/logout']"><i
                                [ngClass]="oIconService.getIcon('logout')"></i> Logout</a>
                 
                </span>
            </ul>
                 
      
</nav>


    

