
<div class="container">
    
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5"> <img src="https://images.pexels.com/photos/3585074/pexels-photo-3585074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="" alt=""> </div>
        <div class=" box-2 d-flex flex-column h-100">
           
            <div class="mt-5 ">
              
             <h1 class="titulo">Vista de usuario</h1>
                <div id="campos" class="d-flex flex-column ">
                    <p class="mb-2 h-1"> id: {{oUsuario?.id}}</p> 
                    <p class="mb-2 h-1"> DNI: {{oUsuario?.dni}}</p> 
                    <p class="mb-2 h-1"> Nombre: {{oUsuario?.nombre}}</p> 
                    <p class="mb-2 h-1"> Apellidos: {{oUsuario?.apellidos}}</p> 
                    <p class="mb-2 h-1"> Login: {{oUsuario?.login}}</p> 
                    <p class="mb-2 h-1"> Email: {{oUsuario?.email}}</p> 
                   
                    <div class="mt-1">
                        <div class="d-grid gap-2 d-md-block  d-md-flex justify-content-md-center mt-4">
                            <a class="btn" [routerLink]="['/usuario/edit/' + id]"><i
                                    [ngClass]="oIconService.getIcon('edit')"></i>
                                Modificarlo</a>
                            <a class="btn" [routerLink]="['/usuario/remove/' + id]"><i
                                    [ngClass]="oIconService.getIcon('remove')"></i>
                                Borrarlo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-auto">
                
            </div>
        </div> 
    </div>
</div>